body  {
    background-color: aquamarine;
}

#user-form-div  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}